#contenedor {
    display: flex;
    height: 700px;
    width: 100%;
    border: 1px solid blue;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.elemento {
    /*flex: 1;*/
    width: 150px;
    height: 150px;
}

#elemento1 {
    background-color: red;
}

#elemento2 {
    background-color: royalblue;
    /*flex: 2;*/
}

#elemento3 {
    background-color: green;
}